/* CSS Reset */
html, body, img, button, div, span, h1, p, a, ul, li, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}

html{
	touch-action: manipulation;
	vertical-align: baseline;
}

ul{
	list-style: none;
	font-size: 0;
}

button{
	background: rgba(0,0,0,0);
	display: inline-flex;
	opacity: 1;
}

img{
	vertical-align: bottom;
}

/* ヘッダーのハイライト #BCE6F2 */
body {
	background: #6cb861;
	text-align: center;
	margin: 0 auto 0 auto;
	width: 720px;
	height: auto;
	font-size: 0px;
}

/* ヘッダー */
header{
	background: #ffffff;
	position: fixed;	/* 位置固定 */
	top: 0;				/* top固定 */ 
	width: auto;
	height: auto;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 0px;
	z-index: 10;
}

header ul li{
	padding-inline-start: 0px;
	display: inline-block;
	font-size: 0px;
}

.head{
	display: flex;
	font-size: 0px;
}

.head button{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

.head img{
	margin-left: auto;
	margin-right: 10px;
}

.tab{
	padding-inline-start: 0px;
	display: flex;
	flex-wrap: wrap;
	font-size: 0px;
}

.tab li{
	margin-top: auto;
}

/* 共通 */
/* スクロールエリア */
div.scrollArea {
	background: #ffffff;
    width: auto;
    height: auto;
	font-size: 80x;
	margin-top: 89px;
	margin-bottom: 0;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 5;
}

.back{
	position: relative;
	height: 100%;
}

.content{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* tab01 */
.toptitle{
	margin: 80px 0 50px 0;
}

.topsubtitle{
	margin: 0 0 30px 0;
}

.toparea > button{
	margin: 45px 0 60px 0;
}

/* tab02 */
.festaarea > button{
	margin: 45px 0 60px 0;
}

.festatitle{
	margin-top: 36px;
}

.scheduletext{
	position: absolute;
	margin-left:298px;
	bottom: 250px;
	font-size: 13px;
}

.festasubtitle{
	margin: 80px 0 70px 0;
}

/* tab03 */
.supportarea ul li > img{
	margin: 0 65px 0 65px;
}

.supporter1 > img{
	margin-bottom: 60px;
}

.supporttitle1{
	margin: 36px 0 70px 0;
}

.supporttitle2{
	margin: 80px 0 70px 0;
}

.supportlist{
	margin: 60px 0 0 0;
}

/* tab03 */
.reporttitle{
	margin: 36px 0 22px 0;
}

.reportdisc{
	margin: 0 0 50px 0;
}

.reportarea > button{
	margin: 30px auto 0 82px;
}

/* フッター */
footer{
	background: #ffffff;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 150px;
	margin-bottom: 30px;
}

footer ul{
	margin-top: 15px;
	margin-bottom: 45px;
	font-size: 12px;
}

footer ul span{
	margin: 0 6px 0 6px;
}