/* CSS Reset */
html, body, img, button, div, span, h1, p, a, ul, li, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}

html{
	touch-action: manipulation;
	vertical-align: baseline;
}

ul{
	list-style: none;
	font-size: 0;
}

button{
	background: rgba(0,0,0,0);
	display: inline-flex;
	opacity: 1;
}

img{
	vertical-align: bottom;
}

/* ヘッダーのハイライト #BCE6F2 */
body {
	background: #ffffff;
	text-align: center;
	margin: 0 auto 0 auto;
	width: 720px;
	height: auto;
	font-size: 0px;
}

/* ヘッダー */
header{
	background: #ffffff;
	position: fixed;	/* 位置固定 */
	top: 0;				/* top固定 */ 
	width: auto;
	height: auto;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 0px;
	z-index: 10;
}

header ul li{
	padding-inline-start: 0px;
	display: inline-block;
	font-size: 0px;
}

.head{
	display: flex;
	font-size: 0px;
}

.head li > button{
	float: left;
	margin: 16px 0 21px 56px;
}

.head > img{
	margin: 8px 40px 9px auto;
}

.tab{
	padding-inline-start: 0px;
	display: flex;
	flex-wrap: wrap;
	font-size: 0px;
}

.tab li{
	margin-top: auto;
}

/* 共通 */
/* スクロールエリア */
div.scrollArea {
	background: #ffffff;
    width: auto;
    height: auto;
	font-size: 80x;
	margin: 106px 0 0 0;
	padding: 0;
	overflow-y: hidden;
	overflow-x: hidden;
	z-index: 5;
}

.back{
	position: relative;
	height: 100%;
}

.content{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* tab01 */
.toparea > div{
	margin: 24px 0 32px 0;
}

.toptitle{
	margin: 72px 0 66px 0;
}

.toparea > button{
	margin: 0 0 144px 0;
}

/* tab02 */
.festaarea > button{
	margin: 45px 0 60px 0;
}

.festatitle{
	margin: 48px 0 56px 0;
}

.scheduletext{
	position: absolute;
	margin-left:298px;
	bottom: 250px;
	font-size: 13px;
}

.festasubtitle{
	margin: 88px auto 66px 64px;
}

.festadivision{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.festadivision > img{
	margin: 0 0 24px 0;
}

.festadivision > button{
	margin: 0 0 66px 0;
}

/* tab03 */
.supportarea ul li > img{
	margin: 0 65px 0 65px;
}

.supporter1 > img{
	margin-bottom: 80px;
}

.supporttitle1{
	margin: 48px auto 24px 64px;
}

.supporttitle2{
	margin: 144px auto 24px 64px;
}

.supportlist{
	margin: 80px 0 0 0;
}

/* tab03 */
.reporttitle{
	margin: 48px auto 24px 64px;
}

.reportdisc{
	margin: 0 auto 46px 64px;
}

.reportarea > button{
	margin: 20px auto 8px 82px;
}

/* フッター */
footer{
	background: #ffffff;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 200px 0 16px 0;
}

footer ul{
	margin: 16px 0 24px 0;
	font-size: 12px;
}

footer ul span{
	margin: 0 6px 0 6px;
}