/* CSS Reset */
html, body, img, button, div, span, h1, p, a, ul, li, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}

html{
	touch-action: manipulation;
	vertical-align: baseline;
}

ul{
	list-style: none;
	font-size: 0;
}

a{
	text-decoration: none;
}

img {
  pointer-events: none;
}

a:link, a:visited {
	color: black;
}

button{
	background: rgba(0,0,0,0);
	display: inline-flex;
	opacity: 1;
	outline:  none;
	cursor:pointer;
}

img{
	vertical-align: bottom;
}

/* ヘッダーのハイライト #BCE6F2 */
body {
	background: #ffffff;
	text-align: center;
	margin: 0 auto 0 auto;
	width: 1280px;
	height: auto;
	font-size: 0px;
	font-family: ‘Noto Sans JP’, sans-serif;
}

/* ヘッダー */
header{
	background: #ffffff;
	position: fixed;	/* 位置固定 */
	top: 0;				/* top固定 */ 
	width: auto;
	height: auto;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 0px;
	z-index: 10;
}

.head{
	display: flex;
	font-size: 0px;
}

.head button{
	float: left;
	margin: 20px 0 20px 24px;
}

.head > img{
	margin: 11px 20px 0 auto;
}

.tab > li{
	padding-inline-start: 0px;
	display: flex;
	flex-wrap: wrap;
	font-size: 0px;
}

.tab01 {
    background: url("../images/00_header/pc_tab_top_01.png") no-repeat;
}
 
.tab01 a {
    width: 318px;
    height: 32px;
    background: url("../images/00_header/pc_tab_top_01.png")  no-repeat;
    display: block;
}
 
.tab01 a:hover {
    background-image: url("../images/00_header/pc_tab_top_02.png") ;
}

.tab02 {
    background: url("../images/00_header/pc_tab_festa_01.png") no-repeat;
}
 
.tab02 a {
    width: 318px;
    height: 32px;
    background: url("../images/00_header/pc_tab_festa_01.png")  no-repeat;
    display: block;
}
 
.tab02 a:hover {
    background-image: url("../images/00_header/pc_tab_festa_02.png") ;
}

.tab03 {
    background: url("../images/00_header/pc_tab_supporter_01.png") no-repeat;
}
 
.tab03 a {
    width: 318px;
    height: 32px;
    background: url("../images/00_header/pc_tab_supporter_01.png")  no-repeat;
    display: block;
}
 
.tab03 a:hover {
    background-image: url("../images/00_header/pc_tab_supporter_02.png") ;
}

.tab04 {
    background: url("../images/00_header/pc_tab_report_01.png") no-repeat;
}
 
.tab04 a {
    width: 318px;
    height: 32px;
    background: url("../images/00_header/pc_tab_report_01.png")  no-repeat;
    display: block;
}
 
.tab04 a:hover {
    background-image: url("../images/00_header/pc_tab_report_02.png") ;
}

/* 共通 */
/* スクロールエリア */
.scrollArea {
	background: #ffffff;
    width: auto;
    height: auto;
	font-size: 64px;
	margin: 98px 0 0 0;
	overflow-y: hidden;
	overflow-x: hidden;
	z-index: 5;
}

.back{
	position: relative;
	height: 100%;
}

/* tab01 */
.top{
    position: absolute;
	width: 1280px;
    top: 1391px;
}

.top h1{
	font-size: 30px;
	margin: 88px auto 72px 216px;
	color: #06C1C1;
}

.top h2{
	font-size: 28px;
}

.toptitle{
	text-align: left;
}

.toptitle{
	margin: 88px auto 72px 216px;
}

.topbutton{
	text-align: center;
	margin: 0 auto 104px auto;
}

/* tab02 */
.festatitle{
	text-align: left;
}

.festatitle img{
	margin: 88px auto 56px 216px;
}

.festa h1{
	color: #A74BD6;
	margin: 54px auto 56px 216px;
}

.scheduletext{
	position: absolute;
	margin-left: 563px;
	bottom: 295px;
	font-size: 21px;
	text-decoration: none;
    border-bottom: 1px solid #C664F8;
}

.scheduletext a{
	color: #C664F8;
}

.festatable{
	width: auto;
	margin: 0 146px 0 146px;
}

.festablock{
	display: table;
	width: 982px;
	height: 469px;
	text-align: center;
}

.festaitem{
	display: table-cell;
	text-align: center;
	padding: 0 10px 0 10px;
}

.festaitem h2{
	font-size: 22px;
	margin: 0 0 28px 0;
}

.festaitem p{
	font-size: 18px;
	height: 68px;
	margin: 20px 0 40px 0;
}

/* tab03 */
.supporter{
	position: absolute;
	text-align: left;
	width: 1280px;
	top: 0;
}

.name{
	font-size: 20px;
	margin: 10px 0 20px 0;
}

.position{
	font-size: 16px;
	text-align: left;
	color: #533104;
}

.iconleft{
	padding-left: 40px;
}

.iconright{
	padding-right: 40px;
}

.iconcenter{
	padding: 0 112px 0 112px;
}

/* tab03 開催者挨拶 */
.greetingtitle{
	text-align: left;
}

.greetingtitle img{
	margin: 56px auto 28px 216px;
}

.supporter h1{
	margin: 56px auto 28px 216px;
	color:#F78D02;
	font-size: 30px;
}

.greetingtable{
	width: auto;
	margin: 0 216px 176px 216px;
}

.greetingblock{
	display: table;
}

.greetingicon{
	display: table-cell;
	text-align: center;
	width: 208px;
}

.greetingtext{
	display: table-cell;
	width: 600px;
	font-size: 18px;
	text-align: left;
	vertical-align: top;
	word-wrap: normal;
}

/* tab03 サポーター一覧 */
.supportertitle{
	text-align: left;
}

.supportertitle img{
	margin: 0 auto 28px 216px;
}



.supportertable{
	width: auto;
	margin: 0 216px 0 216px;
}

.supporterblock{
	display: table;
	margin: 0 0 72px 0;
}

.supportericon{
	display: table-cell;
	text-align: center;
	width: 208px;
}

.supportertext{
	display: table-cell;
	width: 600px;
	font-size: 18px;
	text-align: left;
	vertical-align:top;
	word-wrap: normal;
}

.supportertable2{
	width: auto;
	margin: 0 216px 0 216px;
}

.supporterblock2{
	display: table;
	width: 848px;
	margin: 0;
}

.supportericon2{
	display: table-cell;
	text-align: center;
	width: 208px;
}

.supporterblockmargin{
	margin-bottom: 56px;
}

/* tab04 */
.report{
	text-align: left;
	width: 1280px;
	margin-bottom: 204px;
}

.reporttitle{
	text-align: left;
}

.reporttitle img{
	margin: 56px auto 28px 216px;
}

.report h1{
	font-size: 30px;
	margin: 56px auto 0 216px;
	color: #27B1D9;
}

.report p{
	font-size: 18px;
	margin: 28px auto 28px 216px;
}

.report li {
	margin-top: 28px;
}

.report a{
	font-size: 24px;
	margin: 28px auto 0 216px;
	text-decoration: none;
    border-bottom: 1px solid #27B1D9;
 	color:#27B1D9;
}

/* フッター */
footer {
	background: #ffffff;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 16px 0 16px 0;
}

footer > button{
	margin: 0;
}

footer ul{
	margin: 16px 0 24px 0;
	font-size: 15px;
}

footer ul span{
	margin: 0 10px 0 10px;
}