/* CSS Reset */
html, body,button, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output,  section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	touch-action: manipulation;
}

ul {
  list-style: none;
}

button
{
	background-color:#ffffff;
	display: inline-flex;
}

/* ヘッダーのハイライト #BCE6F2 */
body {
	background: #6cb861;
	text-align: center;
	margin: 0 auto 0 auto;
	width: 1280px;
	height: auto;
	font-size: 0px;
}

/* ヘッダー */
header{
	background: #ffffff;
	position: fixed;	/* 位置固定 */
	top: 0;				/* top固定 */ 
	width: auto;
	height: auto;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 0px;
	z-index: 10;
}

.head{
	display: flex;
	font-size: 0px;
}

.head button{
	float: left;
	margin-top: 10px;
	margin-left: 100px;
}

.head img{
	margin-left: auto;
	margin-right: 102px;
}

.tab{
	padding-inline-start: 0px;
	display: flex;
	flex-wrap: wrap;
	font-size: 0px;
}

/* スクロールエリア */
div.scrollArea {
	background: #ffffff;
    width: auto;
    height: auto;
	font-size: 64px;
	margin-top: 98px;
	margin-bottom: 0;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 5;
}

div.content{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.back{
	position: relative;
	height: 100%;
}

div.scheduletext{
	position: absolute;
	margin-left:553px;
	bottom: 370px;
	font-size: 21px;
}

.mainArea{
    position: absolute;
    top: 1412px;
}

/* tab03 */
.supportarea{
	position: absolute;
	top: 0;
}

.supportarea ul li{
	display: inline;
}

/* フッター */
footer{
	background: #ffffff;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 97px;
}

footer ul{
	margin-top: 16px;
	margin-bottom: 50px;
}

footer li{
	display: inline;
	font-size: 15px;
}

footer img{
	margin-bottom: 33px;
}