/* CSS Reset */
html, body, img, button, div, span, h1, p, a, ul, li, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}

html{
	touch-action: manipulation;
	vertical-align: baseline;
}

ul{
	list-style: none;
	font-size: 0;
}

button{
	background: rgba(0,0,0,0);
	display: inline-flex;
	opacity: 1;
}

img{
	vertical-align: bottom;
}

/* ヘッダーのハイライト #BCE6F2 */
body {
	background: #6cb861;
	text-align: center;
	margin: 0 auto 0 auto;
	width: 1280px;
	height: auto;
	font-size: 0px;
}

/* ヘッダー */
header{
	background: #ffffff;
	position: fixed;	/* 位置固定 */
	top: 0;				/* top固定 */ 
	width: auto;
	height: auto;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 0px;
	z-index: 10;
}

.head{
	display: flex;
	font-size: 0px;
}

.head button{
	float: left;
	margin: 20px 0 20px 24px;
}

.head > img{
	margin: 11px 20px 0 auto;
}

.tab > li{
	padding-inline-start: 0px;
	display: flex;
	flex-wrap: wrap;
	font-size: 0px;
}

.tab01 {
    background: url("../images/00_header/pc_tab_top_01.png") no-repeat;
}
 
.tab01 a {
    width: 318px;
    height: 32px;
    background: url("../images/00_header/pc_tab_top_01.png")  no-repeat;
    display: block;
}
 
.tab01 a:hover {
    background-image: url("../images/00_header/pc_tab_top_02.png") ;
}

.tab02 {
    background: url("../images/00_header/pc_tab_festa_01.png") no-repeat;
}
 
.tab02 a {
    width: 318px;
    height: 32px;
    background: url("../images/00_header/pc_tab_festa_01.png")  no-repeat;
    display: block;
}
 
.tab02 a:hover {
    background-image: url("../images/00_header/pc_tab_festa_02.png") ;
}

.tab03 {
    background: url("../images/00_header/pc_tab_supporter_01.png") no-repeat;
}
 
.tab03 a {
    width: 318px;
    height: 32px;
    background: url("../images/00_header/pc_tab_supporter_01.png")  no-repeat;
    display: block;
}
 
.tab03 a:hover {
    background-image: url("../images/00_header/pc_tab_supporter_02.png") ;
}

.tab04 {
    background: url("../images/00_header/pc_tab_report_01.png") no-repeat;
}
 
.tab04 a {
    width: 318px;
    height: 32px;
    background: url("../images/00_header/pc_tab_report_01.png")  no-repeat;
    display: block;
}
 
.tab04 a:hover {
    background-image: url("../images/00_header/pc_tab_report_02.png") ;
}

/* 共通 */
/* スクロールエリア */
.scrollArea {
	background: #ffffff;
    width: auto;
    height: auto;
	font-size: 64px;
	margin: 98px 0 0 0;
	overflow-y: hidden;
	overflow-x: hidden;
	z-index: 5;
}

.content{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.back{
	position: relative;
	height: 100%;
}

/* tab01 */
.mainArea{
    position: absolute;
	width: 1280px;
    top: 1412px;
}

.mainArea ul li{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.toptitle{
	margin: 88px auto 72px 216px;
}

.subtitle{
	margin: 0 auto 0 auto;
}

.mainArea ul li > div{
	margin: 28px 0 40px 0;
}

.mainArea ul li > button{
	margin: 0px 0 104px 0;
}

/* tab02 */
.scheduletext{
	position: absolute;
	margin-left: 563px;
	bottom: 295px;
	font-size: 21px;
}

.festatitle{
	margin: 88px 0 72px 0;
}

.festa > li{
	margin: 57px 0 104px 0;
}

.festa li > button{
	margin: 0 20px 0 20px;
}

/* tab03 */
.supportarea{
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 0;
	bottom: 0;
}

.title01{
	margin: 56px auto 28px 216px;
}

.title02{
	margin: 176px auto 28px 216px;
}

.supporter > img{
	margin: 0 0 72px 0;
}

/* tab04 */
.repporttitle{
	margin: 56px auto 0 216px;
}

.repportdisc{
	margin: 28px auto 28px 216px;
}
.repport > button{
	margin: 28px auto 0 216px;
}

/* フッター */
footer {
	background: #ffffff;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 204px 0 16px 0;
}

footer > button{
	margin: 16px 0 0 0;
}

footer ul{
	margin: 16px 0 24px 0;
	font-size: 15px;
}

footer ul span{
	margin: 0 10px 0 10px;
}