/* CSS Reset */
html, body, img, button, div, span, h1, p, a, ul, li, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}

@import url(http://fonts.googleapis.com/css?family=Noto+Sans+JP);

html{
	touch-action: manipulation;
	vertical-align: baseline;
}

ul{
	list-style: none;
	font-size: 0;
}

h1{
	font-size: 24px;
}

a{
	text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
	color: black;
}

button{
	background: rgba(0,0,0,0);
	display: inline-flex;
	opacity: 1;
	outline:  none;
}

img{
	vertical-align: bottom;
}

/* ヘッダーのハイライト #BCE6F2 */
body {
	background: #ffffff;
	text-align: center;
	margin: 0 auto 0 auto;
	width: 320px;
	height: auto;
	font-size: 0px;
	font-family: "Noto Sans JP";
}

/* ヘッダー */
header{
	background: #ffffff;
	position: fixed;	/* 位置固定 */
	top: 0;				/* top固定 */ 
	width: auto;
	height: auto;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 0px;
	z-index: 10;
}

header ul li{
	padding-inline-start: 0px;
	display: inline-block;
	font-size: 0px;
}

.head{
	display: flex;
	font-size: 0px;
}

.head button{
	float: left;
	margin: 12px 0 14px 16px;
}

.head > img{
	margin: 16px 8px 15px auto;
}

.tab{
	padding-inline-start: 0px;
	display: flex;
	flex-wrap: wrap;
	font-size: 0px;
}

.tab li{
	margin-top: auto;
}

/* 共通 */
/* スクロールエリア */
div.scrollArea {
	background: #ffffff;
    width: auto;
    height: auto;
	margin: 92px 0 0 0;
	padding: 0;
	overflow-y: hidden;
	overflow-x: hidden;
	z-index: 5;
}

/* tab01 */
.toptitle{
	text-align: center;
}

.toptitle img{
	margin: 64px 0 30px 0;
}

.topdisc{
	font-size: 16px;
	margin: 0 30px 0 30px;
}

.top h1{
	font-size: 22px;
	margin-top: 64px;
	word-wrap: normal;
}

.top h2{
	font-size: 18px;
	margin: 30px 0 0 0;
}

.top > img{
	margin: 30px 0 16px 0;
}

.topmargin{
	margin: 0 0 64px 0;
}

/* tab02 */
.festatitle{
	text-align: center;
}

.festatitle img{
	margin: 46px 0 30px 0;
}

.festa h1{
	font-size: 22px;
	margin: 46px 0 30px 0;
}

.festa h2{
	font-size: 20px;
	margin: 0 0 16px 0;
}

.festa p{
	font-size: 16px;
	margin: 16px 16px 24px 16px;
}

.festamargin{
	margin-bottom: 64px;
}

.back{
	position: relative;
	height: 100%;
}

.scheduletext{
	position: absolute;
	margin-left:82px;
	bottom: 170px;
	font-size: 16px;
	text-decoration: none;
    border-bottom: 1px solid #C664F8;
}

.scheduletext a{
	color: #C664F8;
}

/* tab03 */
.supportertitle1{
	text-align: center;
}

.supportertitle1 img{
	margin: 32px 0 30px 0;
}

.supportertitle2{
	text-align: center;
}

.supportertitle2 img{
	margin: 64px 0 30px 0;
}

.suporter{
	text-align: center;
	width: 100%;
	top: 0;
}

.suporter h1{
	margin: 32px 0 30px 0;
}

.name{
	font-size: 20px;
	margin: 8px 0 16px 0;
}

.position{
	font-size: 16px;
	color: #533104;
	text-align: left;
	margin: 0 16px 0 16px;
}

.supotertext{
	font-size: 18px;
	text-align: left;
	word-wrap: normal;
	margin: 16px 16px 64px 16px;
}

.suppoter2 > .position{
	margin: 0 16px 64px 16px;
}

/* tab04 */
.reporttitle{
	text-align: center;
}

.report img{
	margin: 32px 0 30px 0;
}

.report{
	text-align: left;
	width: 320px;
}

.report h1{
	text-align: center;
	font-size: 22px;
	margin: 32px 0 0 0;
}

.report p{
	font-size: 16px;
	margin: 30px 16px 30px 16px;
}

.report li{
	margin: 16px 0 0 0;
}

.report a{
	font-size: 16px;
	margin: 48px 16px 0 16px;
    border-bottom: 1px solid #27B1D9;
 	color:#27B1D9;
}

/* フッター */
footer{
	background: #ffffff;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 64px 0 16px 0;
}

footer ul{
	margin: 16px 0 24px 0;
	font-size: 12px;
}

footer ul span{
	margin: 0 7px 0 7px;
}