/* CSS Reset */
html, body, img, button, div, span, h1, p, a, ul, li, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
}

html{
	touch-action: manipulation;
	vertical-align: baseline;
}

ul{
	list-style: none;
	font-size: 0;
}

button{
	background: rgba(0,0,0,0);
	display: inline-flex;
	opacity: 1;
}

img{
	vertical-align: bottom;
}

/* ヘッダーのハイライト #BCE6F2 */
body {
	background: #6cb861;
	text-align: center;
	margin: 0 auto 0 auto;
	width: 320px;
	height: auto;
	font-size: 0px;
}

/* ヘッダー */
header{
	background: #ffffff;
	position: fixed;	/* 位置固定 */
	top: 0;				/* top固定 */ 
	width: auto;
	height: auto;
	left: 50%;
	transform: translate(-50%, 0);
	font-size: 0px;
	z-index: 10;
}

header ul li{
	padding-inline-start: 0px;
	display: inline-block;
	font-size: 0px;
}

.head{
	display: flex;
	font-size: 0px;
}

.head button{
	float: left;
	margin: 12px 0 14px 16px;
}

.head > img{
	margin: 16px 8px 15px auto;
}

.tab{
	padding-inline-start: 0px;
	display: flex;
	flex-wrap: wrap;
	font-size: 0px;
}

.tab li{
	margin-top: auto;
}

/* 共通 */
/* スクロールエリア */
div.scrollArea {
	background: #ffffff;
    width: auto;
    height: auto;
	margin-top: 76px;
	margin-bottom: 0;
	padding: 0;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 5;
}

.content{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* tab01 */
.toparea > div{
	margin: 32px 0 24px 0;
}

.toparea > button{
	margin: 0 0 64px 0;
}

.toptitle{
	margin: 64px 0 30px 0;
}

.subtitle{
	margin: 0 0 0 0;
}

/* tab02 */
.festatitle1{
	margin: 56px 0 0 0;
}

.back{
	position: relative;
	height: 100%;
}

.scheduletext{
	position: absolute;
	margin-left:82px;
	bottom: 170px;
	font-size: 16px;
}

.festatitle2{
	margin: 48px 0 30px 0;
}

.festadisc > img{
	margin: 16px 0 24px 0;
}

.festadisc > button{
	margin: 0 0 64px 0;
}

/* tab03 */
.supporthead1{
	margin: 32px 0 30px 0;
}

.supporthead2{
	margin: 64px 0 30px 0;
}

.supportlis > img{
	margin: 0 0 64px 0;
}

/* tab04 */
.reportarea > button{
	margin: 16px auto 0 16px;
}

.reporttitle{
	margin: 32px 0 0 0;
}

.reportdisc{
	margin: 30px auto 14px 16px;
}

/* フッター */
footer{
	background: #ffffff;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 144px 0 16px 0;
}

footer ul{
	margin: 16px 0 24px 0;
	font-size: 12px;
}

footer ul span{
	margin: 0 7px 0 7px;
}